<%= form_with(model: teacher) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
        <% teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <strong><%= form.label :name,class:"my-2" %></strong>
    <%= form.text_field :name,class:'form-control w-50' %>
  </div>

  <div class="field form-group">
  <strong><%= form.label :department,class:"my-2" %></strong>
    <%= form.text_field :dept ,class:'form-control w-50'%>
  </div>


  <div class="field form-group">
  <strong><%= form.label :email,class:"my-2" %></strong>
    <%= form.text_field :email,class:'form-control w-50'  %>
  </div>

  <div class="field form-group">
  <strong><%= form.label :phone,class:"my-2" %></strong>
    <%= form.text_field :phone,class:'form-control w-50' %>
  </div>
  
 
<br/>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
  <% end %>